@model OnlinerTask.WEB.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section Styles{
    <link href="~/Content/onliner.css" rel="stylesheet" />
    <link href="~/Content/onliner.addition.css" rel="stylesheet" />
    <link href="~/Content/timestyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-timepicker.less" rel="stylesheet" />
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>
@section SPAViews {
    <div id="outer" ng-controller="APIController">
        <span id="testspan"></span>
        <div style="float: left; font-size: 15px;">
            <span style="font-weight: bold; margin-left: 45px;">Time to get emails: </span>
            <span id="oldtimeDisplay" ng-model="emailtime">{{emailtime | date:'h:mm a'}}</span>
            <span id="timeDisplay"></span>
            <button class="button button_orange schema-product-button" ng-click="submitTime()" id="submitbutton">Submit</button>
            <button class="button schema-product-button" id="cancelbutton">Cancel</button>
        </div>
        <div class="input-group bootstrap-timepicker timepicker">
            <input id="timepicker" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
        <hr />
        <div id="currencyid">
            <div class="input-group">
                <select class="form-control" ng-model="selectedCurrency" ng-options="x.name for x in currencies"></select>
            </div>
        </div>
        <hr />
        @Html.Partial("_Products")
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/timer")
    @Scripts.Render("~/bundles/cabinet")
}
