@model OnlinerTask.WEB.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section Styles{
    <link href="~/Content/onliner.css" rel="stylesheet" />
    <link href="~/Content/onliner.addition.css" rel="stylesheet" />
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
    </dl>
</div>
@section SPAViews {
    <div ng-controller="APIController">
        @Html.Partial("_Products")
    </div>
}
@section Scripts{
    <script src="~/Scripts/APIScripts/service.js"></script>
    <script src="~/Scripts/APIScripts/controller.js"></script>
}
